<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

    <properties>
        <title>ICAT Server Installation</title>
    </properties>

    <body>

        <section name="Installation">
            <subsection name="Prerequisites">


                <ul>
                    <li>
                        The ice distribution:
                        <a href="${repoUrl}/org/icatproject/ice/${project.version}/ice-${project.version}-distro.zip">ice-${project.version}-distro.zip</a>
                    </li>
                    <li>
                        A suitable deployed container (here assumed to be glassfish though tomcat should be sufficient) to support a web
                        application.
                        Testing has been carried out with Glassfish 3.1.2.
                        <a href="https://code.google.com/p/icatproject/wiki/Glassfish">Installation Instructions</a>
                        are available.
                    </li>
                    <li>
                        A deployed ICAT 4.2 or 4.3 - not necessarily on the same server where you will install
                        ice
                    </li>
                </ul>
            </subsection>

            <subsection name="Summary of steps">


                <ol>
                    <li> Download and unpack the distribution,</li>
                    <li> copy ice.properties to the right place and edit it to meet requirements,</li>
                    <li> deploy the .war file,</li>
                    <li> and see if it works.</li>
                </ol>

            </subsection>


            <subsection name="ice.properties">
                <p>
                    In the distribution you will find an ice.properties file which should be
                    copied
                    to the
                    config directory for your chosen glassfish
                    domain. You will find your domain directory at
                    $GLASSFISH_HOME/glassfish/domains.
                    The ice.properties file will need
                    some changes - at
                    least the ICAT it is talking to.
                </p>
                <dl>
                    <dt>icat.url</dt>
                    <dd>Is the url of the ICAT you wish to edit. With a regular installation this is of the form: https://example.com:443.
                    </dd>

                    <dt>bean.list</dt>
                    <dd>is a space separated list of entities which ICE will be able to edit. It is used to configure a drop down menu.</dd>

                    <dt>authn.list</dt>
                    <dd>Is a space separated list of names of authentication methods (such as ldap, db, simple, anon ...). For each item in the list
                        futher
                        properties must be defined as indicated below.
                    </dd>

                    <dt>
                        authn.&lt;name&gt;.list
                    </dt>
                    <dd>is the space separated list of keywords needed by the named authentication method. Many require username and password while
                        anon
                        expects an empty list.
                    </dd>
                    <dt> authn.&lt;name&gt;.&lt;keyword&gt;visible</dt>
                    <dd>This is optional for each keyword. The default is true. If set to false the value of the keyword will not be echoed on the
                        screen.
                    </dd>
                </dl>

            </subsection>

            <a name="ear" />
            <subsection name="Installing the .war file">
                <p>
                    If you already have an ice installed then you should first remove it with
                    <tt>asadmin --port 4848 undeploy &lt;war&gt;</tt>
                    where the value of "war" can be found by:
                    <tt>asadmin --port 4848 list-applications</tt>
                    Install the application with the command:
                    <tt>asadmin --port 4848 deploy --contextroot ice ice-${project.version}.war</tt>
                    . If you have only one domain you may not need to specify the port and if the admin port is not 4848 then specify the correct
                    value.
                </p>
            </subsection>

            <subsection name="Check that ICE works">
                <p>
                    Go to https://&lt;host&gt;:&lt;port&gt;/ice and the application should start and you will be prompted for an ICAT login. The login
                    box will have a pull down list of authentication methods.
                    Use of them to login in and check that the set of beans you may edit is
                    the expected set as defined in beans.list. Please have a look at the
                    <a href="guide.html">user guide</a>
                    to see how to use
                    <i>ice</i>
                    .
                </p>

                <p>In case of problems, look at the log files:
                    server.log and ice.log which can both be found in the logs directory below your
                    domain.
                    If you have errors in your ice.properties the application will not respond.
                </p>
            </subsection>


        </section>
    </body>
</document>
			
